.mySwiper {
  .swiper {
    border-radius: 10px !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
  }
  width: 100%;
  height: 300px; /* Установите нужную высоту */
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Центрирование текста на слайде по вертикали */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
