
$primary-color: #3498db;
$secondary-color: transparent;
$font-stack: Helvetica, sans-serif;
$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$blue-color: #1E90FF;

.body {
  font-family: $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}
